html, body {
  height:100%;
  width: 100%;
}


.headbox {
    background: url("https://images.unsplash.com/photo-1484991227236-56123ab16e60?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
    background-position: 0 80%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%
    vertical-align: center;
    display: flex;
    padding-bottom: 25rem;
}

#intro {
    padding: 8%;
}

.card {
    float: left;
}

#skills {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Julius Sans One', sans-serif;
}

p, h5 {
    font-family: 'Roboto', sans-serif;
}

i {
    margin-bottom: 0.25em;
}
.container-fluid { 
  padding: 0px;
}

.aboutbox {
    background: url("https://images.unsplash.com/photo-1473759417970-8adfd65beed2?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
    background-position: 0 20%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%
    vertical-align: center;
    display: flex;
    padding-bottom: 15rem;
    text-align: center;
}

#hello {
    padding: 1% 20%;
}

#interaction {
    text-align: center;
}

.contactform {
    background: url("https://images.unsplash.com/photo-1488517999014-971e70a3f677?dpr=1&auto=format&fit=crop&w=1500&h=1124&q=80&cs=tinysrgb&crop=");
    background-position: 0 90%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    vertical-align: center;
    text-align: center;
    padding: 2% 0;
}

.contactform h2 {
    color: gainsboro;
}

.form-group {
   width: 25%;
   margin-left: auto;
   margin-right: auto;
}

#submitbutton {
    padding-top: 1%;
    vertical-align: center;
}